* {
    margin: 0;
    padding: 0;
}

.conteiner {
    height: 100vh;
    background-color: #202124;
}

h1{
    color: white;
    align-items: center;
    justify-content: center;
    display: flex;
}

.conteudo{
    margin-top: 4em;
    color: white;
    justify-content: center;
    display: flex;
}
.input-style{
    padding: 1em 4em;
}

.btn{
    justify-content: center;
    display: flex;
}

.btn-style{
    margin-top: 4em;
    border-radius: 1em;
    padding: 1em 4em;
    background-color: #ff40f2;
    color: rgb(255, 255, 255);
    font-family: sans-serif;
    font-weight: bold;
    font-size: 1em;
}

.resultado{
    margin-top: 4em;
    justify-content: center;
    display: flex;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 2em;
    color: white;
}